@mixin setTextColorAndHover($baseColor) {
	color: $baseColor;
	
	&:hover {
		color: darken($baseColor, 5%);
	}
	&:active {
		color: darken($baseColor, 10%);
	}
}

@mixin setBorderColorAndHover($baseColor) {
	border-color: $baseColor;
	
	&:hover {
		border-color: darken($baseColor, 5%);
	}
	&:active {
		border-color: darken($baseColor, 10%);
	}
}

@mixin setBgColorAndHover($baseColor) {
	background-color: $baseColor;
	
	&:hover {
		background-color: darken($baseColor, 3%);
	}
	&:active {
		background-color: darken($baseColor, 5%);
	}
}