<app-page-title
  [store]="true"
  [title]="store.name"
  [sales]="store.sales!"
  [memberSince]="store.createdAt!">
</app-page-title>
<div class="container mb-5 pb-3">
  <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
    <div class="row">
      <aside class="col-lg-4">
        <div class="cz-sidebar-static h-100 border-right">
          <!-- <aside class="widget dokan-store-widget sidebar-contact">
            <h6>Contacts</h6>
            <ul class="list-unstyled font-size-sm" *ngIf="store.phone">
              <li class="store-phone">
                <a [href]="'tel:' + store.phone" class="d-inline-block">
                  <i class="ci-phone opacity-60 me-2"></i> {{ store.phone | phone: '(000) 000-0000' }}
                </a>
              </li>
            </ul>
          </aside> -->
          <aside class="widget dokan-store-widget sidebar-dokan-buttons">
            <ul class="list-unstyled font-size-sm d-flex align-items-center flex-wrap">
              <!--<li class="dokan-share-btn-wrap dokan-right">
                <button class="dokan-share-btn dokan-btn dokan-btn-theme dokan-btn-sm">
                  Share <i class="fa fa-external-link"></i>
                </button>
              </li>-->
              <ng-container *ngrxLet="favoriteSellersService.favoriteSellers$ as favoriteSellers">
                <li class="dokan-store-follow-store-button-container dokan-right">
                  <button type="button" *ngIf="!isFavoriteSeller(favoriteSellers, store.id)" (click)="favoriteSellersService.addFavoriteSellersItem(store)" class="classic-button">
                    Follow
                  </button>
                  <button type="button" *ngIf="isFavoriteSeller(favoriteSellers, store.id)" (click)="favoriteSellersService.removeFavoriteSellersItem(store)" class="classic-button">
                    Unfollow
                  </button>
                </li>
              </ng-container>
            </ul>
          </aside>
          <!--<aside class="widget dokan-store-widget dokan-store-contact">
            <h3 class="widget-title">Contact Vendor</h3>
            <form class="seller-form clearfix">
              <ul>
                <li class="dokan-form-group">
                  <input type="text" placeholder="Your Name" class="classic-input" minlength="5" required="required">
                </li>
                <li class="dokan-form-group">
                  <input type="email" placeholder="you@example.com" class="classic-input" required="required">
                </li>
                <li class="dokan-form-group">
                  <textarea maxlength="1000" cols="25" rows="6" placeholder="Type your messsage..." class="classic-input" required="required"></textarea>
                </li>
              </ul>
              <button type="submit" class="classic-button">Send Message</button>
            </form>
          </aside>-->
        </div>
      </aside>
      <section class="col-lg-8 pt-lg-4 pb-md-4">
        <div class="pt-2 px-4 ps-lg-0 pe-xl-5">
          <mat-tab-group animationDuration="0ms" mat-stretch-tabs [disableRipple]="true">
            <mat-tab label="Products">
              <div class="products" *ngIf="store.products.length > 0">
                <app-product-card *ngFor="let product of store.products" [product]="product"></app-product-card>
              </div>
              <div *ngIf="store.products.length == 0">
                No products found.
              </div>
            </mat-tab>
            <mat-tab *ngIf="store.description" label="Vendor Biography">
              <div [innerHTML]="store.description"></div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </section>
    </div>
  </div>
</div>
