<app-page-title></app-page-title>
<div class="container mb-5 pb-3">
  <div class="bg-light box-shadow-lg rounded-lg overflow-hidden">
    <div class="row">
      <aside class="col-lg-4">
        <div class="cz-sidebar-static h-100 border-right">
          <aside class="widget dokan-store-widget sidebar-contact">
            <h6>Contacts</h6>

            <ul class="list-unstyled font-size-sm">
              <li class="store-phone">
                <a href="tel:3479476479" class="d-inline-block">
                  <i class="czi-phone opacity-60 mr-2"></i>
                  3479476479 </a>
              </li>
            </ul>
          </aside>
          <aside class="widget dokan-store-widget sidebar-dokan-buttons">
            <ul class="list-unstyled font-size-sm d-flex align-items-center flex-wrap">
              <li class="dokan-share-btn-wrap dokan-right">
                <button class="dokan-share-btn dokan-btn dokan-btn-theme dokan-btn-sm">Share <i
                    class="fa fa-external-link"></i></button>
              </li>
              <li class="dokan-store-follow-store-button-container dokan-right">
                <button type="button" class="dokan-btn dokan-btn-theme dokan-follow-store-button dokan-btn-sm"
                  data-vendor-id="2" data-status="" data-is-logged-in="0">
                  <span class="dokan-follow-store-button-label-current">Follow</span>
                  <span class="dokan-follow-store-button-label-unfollow">Unfollow</span>
                </button>
              </li>
            </ul>
          </aside>
          <aside class="widget dokan-store-widget dokan-store-contact">
            <h3 class="widget-title">Contact Vendor</h3>
            <form id="dokan-form-contact-seller" action="" method="post" class="seller-form clearfix"
              novalidate="novalidate">
              <div class="ajax-response"></div>
              <ul>
                <li class="dokan-form-group">
                  <input type="text" name="name" value="" placeholder="Your Name" class="dokan-form-control"
                    minlength="5" required="required">
                </li>
                <li class="dokan-form-group">
                  <input type="email" name="email" value="" placeholder="you@example.com" class="dokan-form-control"
                    required="required">
                </li>
                <li class="dokan-form-group">
                  <textarea name="message" maxlength="1000" cols="25" rows="6" value=""
                    placeholder="Type your messsage..." class="dokan-form-control" required="required"></textarea>
                </li>
              </ul>

              <div class="dokan-privacy-policy-text"></div>
              <input type="hidden" id="_wpnonce" name="_wpnonce" value="86480598db"><input type="hidden"
                name="_wp_http_referer" value="/store/test/"> <input type="hidden" name="seller_id" value="2">
              <input type="hidden" name="action" value="dokan_contact_seller">
              <input type="submit" name="store_message_send" value="Send Message"
                class="dokan-right dokan-btn dokan-btn-theme">
            </form>
          </aside>
        </div>
      </aside>
      <section class="col-lg-8 pt-lg-4 pb-md-4">
        <div class="pt-2 px-4 pl-lg-0 pr-xl-5">
          <div class="dokan-store-tabs">
            <ul class="nav nav-tabs nav-justified align-items-end">
              <li class="text-center flex-grow-1">
                <a href="http://s603556811.onlinehome.fr/store/test/" class="nav-link px-2 active">
                  Products </a>
              </li>
              <li class="text-center flex-grow-1">
                <a href="http://s603556811.onlinehome.fr/store/test/reviews" class="nav-link px-2">
                  Reviews </a>
              </li>
            </ul>
          </div>

          <div class="seller-items">


            <ul class="list-unstyled products columns-2">



              <li
                class="product type-product post-1440 status-publish first instock product_cat-eikev shipping-taxable purchasable product-type-simple">
                <div class="cartzilla-product-grid">
                  <div class="card product-card"><a class="card-img-top d-block overflow-hidden"
                      href="http://s603556811.onlinehome.fr/product/ttestt/"><img width="350" height="263"
                        src="http://s603556811.onlinehome.fr/wp-content/uploads/woocommerce-placeholder-350x263.png"
                        class="woocommerce-placeholder wp-post-image" alt="Placeholder" loading="lazy"></a>
                    <div class="card-body py-2"><span class="woocommerce-loop-product__categories"><a
                          href="http://s603556811.onlinehome.fr/product-category/subjects/chumash/devarim/eikev/"
                          class="d-inline-block product-meta font-size-xs pb-1" rel="tag">Eikev</a></span>
                      <h3 class="woocommerce-loop-product__title product-title font-size-base"><a
                          href="http://s603556811.onlinehome.fr/product/ttestt/">TTestt</a></h3>
                      <div class="d-flex justify-content-between">
                        <div class="product-price">
                          <span class="text-accent"><span class="woocommerce-Price-amount amount"><span
                                class="woocommerce-Price-currencySymbol">$</span>20.<small>00</small></span></span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body card-body-hidden"><a href="?add-to-cart=1440" data-quantity="1"
                        class="btn btn-primary btn-sm mb-2 button product_type_simple add_to_cart_button ajax_add_to_cart"
                        data-product_id="1440" data-product_sku="" aria-label="Add “TTestt” to your cart" rel="nofollow"
                        data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to
                        cart</a> <a href="#quick-view" rel="nofollow" data-product_id="1440"
                        class="nav-link-style font-size-ms product_quick_view" data-toggle="modal"
                        data-target="#quick-view">
                        <i class="czi-eye align-middle mr-1"></i> Quick View </a> </div>
                  </div>
                  <hr class="d-sm-none">
                </div>
                <div class="cartzilla-product-list">
                  <div class="card product-card product-list">
                    <div class="d-sm-flex align-items-center"><a class="product-list-thumb"
                        href="http://s603556811.onlinehome.fr/product/ttestt/"><img width="350" height="263"
                          src="http://s603556811.onlinehome.fr/wp-content/uploads/woocommerce-placeholder-350x263.png"
                          class="woocommerce-placeholder wp-post-image" alt="Placeholder" loading="lazy"></a>
                      <div class="card-body py-2"><span class="woocommerce-loop-product__categories"><a
                            href="http://s603556811.onlinehome.fr/product-category/subjects/chumash/devarim/eikev/"
                            class="d-inline-block product-meta font-size-xs pb-1" rel="tag">Eikev</a></span>
                        <h3 class="woocommerce-loop-product__title product-title font-size-base"><a
                            href="http://s603556811.onlinehome.fr/product/ttestt/">TTestt</a></h3>
                        <div class="d-flex justify-content-between">
                          <div class="product-price">
                            <span class="text-accent"><span class="woocommerce-Price-amount amount"><span
                                  class="woocommerce-Price-currencySymbol">$</span>20.<small>00</small></span></span>
                          </div>
                        </div>
                        <div class="card-body card-body-hidden"><a href="?add-to-cart=1440" data-quantity="1"
                            class="btn btn-primary btn-sm mb-2 button product_type_simple add_to_cart_button ajax_add_to_cart"
                            data-product_id="1440" data-product_sku="" aria-label="Add “TTestt” to your cart"
                            rel="nofollow" data-toggle="toast" data-target="#cart-toast"><i
                              class="czi-cart font-size-sm mr-1"></i>Add to cart</a> <a href="#quick-view"
                            rel="nofollow" data-product_id="1440" class="nav-link-style font-size-ms product_quick_view"
                            data-toggle="modal" data-target="#quick-view">
                            <i class="czi-eye align-middle mr-1"></i> Quick View </a> </div>
                      </div>
                    </div>
                  </div>
                  <hr class="pt-3 mt-3">
                </div>
              </li>


              <li
                class="product type-product post-1372 status-publish instock product_cat-10th product_cat-chodshei-hashana has-post-thumbnail downloadable virtual purchasable product-type-simple">
                <div class="cartzilla-product-grid">
                  <div class="card product-card"><a class="card-img-top d-block overflow-hidden"
                      href="http://s603556811.onlinehome.fr/product/test/"><img width="350" height="263"
                        src="http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-350x263.jpg"
                        class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"
                        srcset="http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-350x263.jpg 350w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-300x225.jpg 300w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-768x576.jpg 768w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-600x450.jpg 600w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books.jpg 992w"
                        sizes="(max-width: 350px) 100vw, 350px"></a>
                    <div class="card-body py-2"><span class="woocommerce-loop-product__categories"><a
                          href="http://s603556811.onlinehome.fr/product-category/grades/10th/"
                          class="d-inline-block product-meta font-size-xs pb-1" rel="tag">10th</a><span
                          class="text-muted">,</span> <a
                          href="http://s603556811.onlinehome.fr/product-category/subjects/chodshei-hashana/"
                          class="d-inline-block product-meta font-size-xs pb-1" rel="tag">Chodshei Hashana</a></span>
                      <h3 class="woocommerce-loop-product__title product-title font-size-base"><a
                          href="http://s603556811.onlinehome.fr/product/test/">Test</a></h3>
                      <div class="d-flex justify-content-between">
                        <div class="product-price">
                          <span class="text-accent"><span class="woocommerce-Price-amount amount"><span
                                class="woocommerce-Price-currencySymbol">$</span>10.<small>00</small></span></span>
                        </div>
                      </div>
                    </div>
                    <div class="card-body card-body-hidden"><a href="?add-to-cart=1372" data-quantity="1"
                        class="btn btn-primary btn-sm mb-2 button product_type_simple add_to_cart_button ajax_add_to_cart"
                        data-product_id="1372" data-product_sku="" aria-label="Add “Test” to your cart" rel="nofollow"
                        data-toggle="toast" data-target="#cart-toast"><i class="czi-cart font-size-sm mr-1"></i>Add to
                        cart</a> <a href="#quick-view" rel="nofollow" data-product_id="1372"
                        class="nav-link-style font-size-ms product_quick_view" data-toggle="modal"
                        data-target="#quick-view">
                        <i class="czi-eye align-middle mr-1"></i> Quick View </a> </div>
                  </div>
                  <hr class="d-sm-none">
                </div>
                <div class="cartzilla-product-list">
                  <div class="card product-card product-list">
                    <div class="d-sm-flex align-items-center"><a class="product-list-thumb"
                        href="http://s603556811.onlinehome.fr/product/test/"><img width="350" height="263"
                          src="http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-350x263.jpg"
                          class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" loading="lazy"
                          srcset="http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-350x263.jpg 350w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-300x225.jpg 300w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-768x576.jpg 768w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books-600x450.jpg 600w, http://s603556811.onlinehome.fr/wp-content/uploads/2021/10/All-Jewish-holy-books.jpg 992w"
                          sizes="(max-width: 350px) 100vw, 350px"></a>
                      <div class="card-body py-2"><span class="woocommerce-loop-product__categories"><a
                            href="http://s603556811.onlinehome.fr/product-category/grades/10th/"
                            class="d-inline-block product-meta font-size-xs pb-1" rel="tag">10th</a><span
                            class="text-muted">,</span> <a
                            href="http://s603556811.onlinehome.fr/product-category/subjects/chodshei-hashana/"
                            class="d-inline-block product-meta font-size-xs pb-1" rel="tag">Chodshei Hashana</a></span>
                        <h3 class="woocommerce-loop-product__title product-title font-size-base"><a
                            href="http://s603556811.onlinehome.fr/product/test/">Test</a></h3>
                        <div class="d-flex justify-content-between">
                          <div class="product-price">
                            <span class="text-accent"><span class="woocommerce-Price-amount amount"><span
                                  class="woocommerce-Price-currencySymbol">$</span>10.<small>00</small></span></span>
                          </div>
                        </div>
                        <div class="card-body card-body-hidden"><a href="?add-to-cart=1372" data-quantity="1"
                            class="btn btn-primary btn-sm mb-2 button product_type_simple add_to_cart_button ajax_add_to_cart"
                            data-product_id="1372" data-product_sku="" aria-label="Add “Test” to your cart"
                            rel="nofollow" data-toggle="toast" data-target="#cart-toast"><i
                              class="czi-cart font-size-sm mr-1"></i>Add to cart</a> <a href="#quick-view"
                            rel="nofollow" data-product_id="1372" class="nav-link-style font-size-ms product_quick_view"
                            data-toggle="modal" data-target="#quick-view">
                            <i class="czi-eye align-middle mr-1"></i> Quick View </a> </div>
                      </div>
                    </div>
                  </div>
                  <hr class="pt-3 mt-3">
                </div>
              </li>


            </ul>


          </div>


        </div>
      </section>
    </div>
  </div>


</div>
