<div class="card text-center py-4 mb-4">
	<div class="card-body">
		<i class="ci-home text-muted h2 font-weight-normal opacity-60 mb-4"></i>
		<h5 class="pb-2">From your account dashboard you can:</h5>
		<a [routerLink]="['./orders']" class="btn btn-outline-primary btn-sm m-2">View
			orders</a>
		<a [routerLink]="['./edit-account']"
			class="btn btn-outline-primary btn-sm m-2">Edit account details</a>
	</div>
</div>

<p>&nbsp;</p>

<ul class="dokan-account-migration-lists">
	<li>
		<div class="dokan-w8 left-content">
			<p><strong>Become a Vendor</strong></p>
			<p>Vendors can sell products and manage a store with a vendor dashboard.</p>
		</div>
		<div class="dokan-w4 right-content">
			<a href="http://s603556811.onlinehome.fr/my-account/account-migration" class="btn btn-primary">Become a
				Vendor</a>
		</div>
		<div class="dokan-clearfix"></div>
	</li>

</ul>