<app-page-title title="Checkout"></app-page-title>
<div class="container pb-5 mb-2 mb-md-4">


  <form name="checkout" method="post" class="checkout woocommerce-checkout"
    action="http://s603556811.onlinehome.fr/checkout/" enctype="multipart/form-data" novalidate="novalidate">
    <div class="row">
      <section class="col-lg-8">
        <div class="d-flex justify-content-between align-items-center pt-3 pb-4 pb-md-5 my-1">
          <h2 class="h6 text-light mb-0">Billing details</h2>
          <a class="btn btn-outline-primary btn-sm pl-2" href="http://s603556811.onlinehome.fr/cart/">
            <i class="czi-arrow-left mr-2"></i>
            Back to cart </a>
        </div>



        <div id="customer_details" class="pt-3 pt-md-0">
          <div class="woocommerce-billing-fields">


            <div class="woocommerce-billing-fields__field-wrapper">
              <div class="row">
                <p class="form-row form-group col-sm-6 validate-required" id="billing_first_name_field"
                  data-priority="10"><label for="billing_first_name" class="">First name&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                      class="input-text form-control" name="billing_first_name" id="billing_first_name" placeholder=""
                      value="" autocomplete="given-name"></span></p>
                <p class="form-row form-group col-sm-6 validate-required" id="billing_last_name_field"
                  data-priority="20"><label for="billing_last_name" class="">Last name&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                      class="input-text form-control" name="billing_last_name" id="billing_last_name" placeholder=""
                      value="" autocomplete="family-name"></span></p>
                <p class="form-row form-group col-sm-6" id="billing_company_field" data-priority="30"><label
                    for="billing_company" class="">Company name&nbsp;<span
                      class="optional">(optional)</span></label><span class="woocommerce-input-wrapper"><input
                      type="text" class="input-text form-control" name="billing_company" id="billing_company"
                      placeholder="" value="" autocomplete="organization"></span></p>
                <p class="form-row form-group col-sm-6 address-field update_totals_on_change validate-required"
                  id="billing_country_field" data-priority="40"><label for="billing_country" class="">Country /
                    Region&nbsp;<abbr class="required" title="required">*</abbr></label><span
                    class="woocommerce-input-wrapper"><select name="billing_country" id="billing_country"
                      class="country_to_state country_select form-control select2-hidden-accessible"
                      autocomplete="country" data-placeholder="Select a country / region…" data-label="Country / Region"
                      tabindex="-1" aria-hidden="true">
                      <option value="">Select a country / region…</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Åland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="PW">Belau</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia</option>
                      <option value="BQ">Bonaire, Saint Eustatius and Saba</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="BN">Brunei</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo (Brazzaville)</option>
                      <option value="CD">Congo (Kinshasa)</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CW">Curaçao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and McDonald Islands</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="CI">Ivory Coast</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Laos</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia</option>
                      <option value="MD">Moldova</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="KP">North Korea</option>
                      <option value="MK">North Macedonia</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PS">Palestinian Territory</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Reunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russia</option>
                      <option value="RW">Rwanda</option>
                      <option value="ST">São Tomé and Príncipe</option>
                      <option value="BL">Saint Barthélemy</option>
                      <option value="SH">Saint Helena</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="SX">Saint Martin (Dutch part)</option>
                      <option value="MF">Saint Martin (French part)</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia/Sandwich Islands</option>
                      <option value="KR">South Korea</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syria</option>
                      <option value="TW">Taiwan</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom (UK)</option>
                      <option value="US" selected="selected">United States (US)</option>
                      <option value="UM">United States (US) Minor Outlying Islands</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VA">Vatican</option>
                      <option value="VE">Venezuela</option>
                      <option value="VN">Vietnam</option>
                      <option value="VG">Virgin Islands (British)</option>
                      <option value="VI">Virgin Islands (US)</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                      style="width: 100%;"><span class="selection"><span
                          class="select2-selection select2-selection--single" aria-haspopup="true" aria-expanded="false"
                          tabindex="0" aria-label="Country / Region" role="combobox"><span
                            class="select2-selection__rendered" id="select2-billing_country-container" role="textbox"
                            aria-readonly="true" title="United States (US)">United States (US)</span><span
                            class="select2-selection__arrow" role="presentation"><b
                              role="presentation"></b></span></span></span><span class="dropdown-wrapper"
                        aria-hidden="true"></span></span><noscript><button type="submit"
                        name="woocommerce_checkout_update_totals" value="Update country / region">Update country /
                        region</button></noscript></span></p>
                <p class="form-row form-group col-sm-12 address-field validate-required" id="billing_address_1_field"
                  data-priority="50"><label for="billing_address_1" class="">Street address&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                      class="input-text form-control" name="billing_address_1" id="billing_address_1"
                      placeholder="House number and street name" value="" autocomplete="address-line1"
                      data-placeholder="House number and street name"></span></p>
                <p class="form-row form-group col-sm-12 address-field" id="billing_address_2_field" data-priority="60">
                  <label for="billing_address_2" class="screen-reader-text">Apartment, suite, unit, etc.&nbsp;<span
                      class="optional">(optional)</span></label><span class="woocommerce-input-wrapper"><input
                      type="text" class="input-text form-control" name="billing_address_2" id="billing_address_2"
                      placeholder="Apartment, suite, unit, etc. (optional)" value="" autocomplete="address-line2"
                      data-placeholder="Apartment, suite, unit, etc. (optional)"></span></p>
                <p class="form-row form-group col-sm-6 address-field validate-required" id="billing_city_field"
                  data-priority="70" data-o_class="form-row form-group col-sm-6 address-field validate-required"><label
                    for="billing_city" class="">Town / City&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                      class="input-text form-control" name="billing_city" id="billing_city" placeholder="" value=""
                      autocomplete="address-level2"></span></p>
                <p class="form-row form-group col-sm-6 address-field validate-required validate-state"
                  id="billing_state_field" data-priority="80"
                  data-o_class="form-row form-group col-sm-6 address-field validate-required validate-state"><label
                    for="billing_state" class="">State&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><select
                      name="billing_state" id="billing_state"
                      class="state_select form-control select2-hidden-accessible" autocomplete="address-level1"
                      data-placeholder="Select an option…" data-input-classes="form-control" data-label="State"
                      tabindex="-1" aria-hidden="true">
                      <option value="">Select an option…</option>
                      <option value="AL">Alabama</option>
                      <option value="AK">Alaska</option>
                      <option value="AZ">Arizona</option>
                      <option value="AR">Arkansas</option>
                      <option value="CA">California</option>
                      <option value="CO">Colorado</option>
                      <option value="CT">Connecticut</option>
                      <option value="DE">Delaware</option>
                      <option value="DC">District Of Columbia</option>
                      <option value="FL">Florida</option>
                      <option value="GA">Georgia</option>
                      <option value="HI">Hawaii</option>
                      <option value="ID">Idaho</option>
                      <option value="IL">Illinois</option>
                      <option value="IN">Indiana</option>
                      <option value="IA">Iowa</option>
                      <option value="KS">Kansas</option>
                      <option value="KY">Kentucky</option>
                      <option value="LA">Louisiana</option>
                      <option value="ME">Maine</option>
                      <option value="MD">Maryland</option>
                      <option value="MA">Massachusetts</option>
                      <option value="MI">Michigan</option>
                      <option value="MN">Minnesota</option>
                      <option value="MS">Mississippi</option>
                      <option value="MO">Missouri</option>
                      <option value="MT">Montana</option>
                      <option value="NE">Nebraska</option>
                      <option value="NV">Nevada</option>
                      <option value="NH">New Hampshire</option>
                      <option value="NJ">New Jersey</option>
                      <option value="NM">New Mexico</option>
                      <option value="NY">New York</option>
                      <option value="NC">North Carolina</option>
                      <option value="ND">North Dakota</option>
                      <option value="OH">Ohio</option>
                      <option value="OK">Oklahoma</option>
                      <option value="OR">Oregon</option>
                      <option value="PA">Pennsylvania</option>
                      <option value="RI">Rhode Island</option>
                      <option value="SC">South Carolina</option>
                      <option value="SD">South Dakota</option>
                      <option value="TN">Tennessee</option>
                      <option value="TX">Texas</option>
                      <option value="UT">Utah</option>
                      <option value="VT">Vermont</option>
                      <option value="VA">Virginia</option>
                      <option value="WA">Washington</option>
                      <option value="WV">West Virginia</option>
                      <option value="WI">Wisconsin</option>
                      <option value="WY">Wyoming</option>
                      <option value="AA">Armed Forces (AA)</option>
                      <option value="AE">Armed Forces (AE)</option>
                      <option value="AP">Armed Forces (AP)</option>
                    </select><span class="select2 select2-container select2-container--default" dir="ltr"
                      style="width: 100%;"><span class="selection"><span
                          class="select2-selection select2-selection--single" aria-haspopup="true" aria-expanded="false"
                          tabindex="0" aria-label="State" role="combobox"><span class="select2-selection__rendered"
                            id="select2-billing_state-container" role="textbox" aria-readonly="true"
                            title="New York">New York</span><span class="select2-selection__arrow"
                            role="presentation"><b role="presentation"></b></span></span></span><span
                        class="dropdown-wrapper" aria-hidden="true"></span></span></span></p>
                <p class="form-row form-group col-sm-6 address-field validate-required validate-postcode"
                  id="billing_postcode_field" data-priority="90"
                  data-o_class="form-row form-group col-sm-6 address-field validate-required validate-postcode"><label
                    for="billing_postcode" class="">ZIP Code&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="text"
                      class="input-text form-control" name="billing_postcode" id="billing_postcode" placeholder=""
                      value="" autocomplete="postal-code"></span></p>
                <p class="form-row form-group col-sm-6 validate-required validate-phone" id="billing_phone_field"
                  data-priority="100"><label for="billing_phone" class="">Phone&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="tel"
                      class="input-text form-control" name="billing_phone" id="billing_phone" placeholder="" value=""
                      autocomplete="tel"></span></p>
                <p class="form-row form-group col-sm-12 validate-required validate-email" id="billing_email_field"
                  data-priority="110"><label for="billing_email" class="">Email address&nbsp;<abbr class="required"
                      title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="email"
                      class="input-text form-control" name="billing_email" id="billing_email" placeholder="" value=""
                      autocomplete="email username"></span></p>
              </div>
            </div>


          </div>

          <div class="woocommerce-shipping-fields">
          </div>
          <div class="woocommerce-additional-fields">



            <h3 class="h6 pt-3">Additional information</h3>


            <div class="woocommerce-additional-fields__field-wrapper">
              <p class="form-row form-group" id="order_comments_field" data-priority=""><label for="order_comments"
                  class="">Order notes&nbsp;<span class="optional">(optional)</span></label><span
                  class="woocommerce-input-wrapper"><textarea name="order_comments" class="input-text form-control"
                    id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2"
                    cols="5"></textarea></span></p>
            </div>


          </div>
        </div>



      </section>
      <aside class="col-lg-4 pt-4 pt-lg-0">
        <div class="cz-sidebar-static rounded-lg box-shadow-lg ml-lg-auto">

          <h2 class="h6 mb-3 pb-1 text-center" id="order_review_heading">Your order</h2>


          <div id="order_review" class="woocommerce-checkout-review-order">
            <div class="shop_table woocommerce-checkout-review-order-table">
              <div class="widget widget_products">
                <ul class="product_list_widget">
                  <li class="cart_item media align-items-center">
                    <a href="http://s603556811.onlinehome.fr/product/benjamin-moore/" class="widget-product-thumb"><img
                        width="350" height="263"
                        src="http://s603556811.onlinehome.fr/wp-content/uploads/woocommerce-placeholder-350x263.png"
                        class="woocommerce-placeholder wp-post-image" alt="Placeholder" loading="lazy"></a>
                    <div class="media-body">
                      <h6 class="widget-product-title">
                        <a href="http://s603556811.onlinehome.fr/product/benjamin-moore/">Benjamin Moore</a>
                      </h6>
                      <div class="widget-product-meta">
                        <span class="text-accent mr-1"><span class="woocommerce-Price-amount amount"><span
                              class="woocommerce-Price-currencySymbol">$</span>2.<small>00</small></span></span>
                        <span class="text-muted">× 1</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
              <div class="cart-subtotal d-flex justify-content-between align-items-center font-size-md mb-2 pb-1">
                <span class="mr-2">Subtotal:</span>
                <span class="text-right" data-title="Subtotal"><span class="woocommerce-Price-amount amount"><bdi><span
                        class="woocommerce-Price-currencySymbol">$</span>2.<small>00</small></bdi></span></span>
              </div>







              <div class="order-total text-center border-top pt-4 mt-4">
                <h3 class="font-weight-normal mb-0"><strong><span class="woocommerce-Price-amount amount"><bdi><span
                          class="woocommerce-Price-currencySymbol">$</span>2.<small>00</small></bdi></span></strong>
                </h3>
              </div>

            </div>

            <div id="payment" class="woocommerce-checkout-payment">
              <ul class="wc_payment_methods payment_methods methods list-unstyled border-top pt-4 mt-4">
                <li class="woocommerce-notice woocommerce-notice--info woocommerce-info font-size-sm text-muted">Sorry,
                  it seems that there are no available payment methods for your state. Please contact us if you require
                  assistance or wish to make alternate arrangements.</li>
              </ul>
              <div class="place-order border-top pt-4">
                <noscript>
                  Since your browser does not support JavaScript, or it is disabled, please ensure you click the
                  <em>Update Totals</em> button before placing your order. You may be charged more than the amount
                  stated above if you fail to do so. <br /><button type="submit"
                    class="button alt btn btn-sm btn-primary" name="woocommerce_checkout_update_totals"
                    value="Update totals">Update totals</button>
                </noscript>

                <div class="woocommerce-terms-and-conditions-wrapper">
                  <div class="woocommerce-privacy-policy-text"></div>
                  <div class="woocommerce-terms-and-conditions"
                    style="display: none; max-height: 200px; overflow: auto;">
                    <div class="py-5">
                      <section class="section mb-5">
                        <h4>Intellectual Propertly</h4>
                        <ol>
                          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit
                            lectus, posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices
                            interdum.</li>
                          <li>Leo metus luctus sem, vel vulputate diam ipsum sed lorem. Donec tempor arcu nisl, et
                            molestie massa scelerisque ut. Nunc at rutrum leo. Mauris metus mauris, tristique quis
                            sapien eu, rutrum vulputate enim.</li>
                          <li>Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum.</li>
                          <li>Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed
                            ultrices erat. Praesent varius ultrices massa at faucibus.</li>
                          <li>Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor, sit amet
                            condimentum mi ligula sit amet augue.</li>
                          <li>Pellentesque vitae eros eget enim mollis placerat.</li>
                        </ol>
                      </section>
                      <section class="section mb-5">
                        <h4>Termination</h4>
                        <ol>
                          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis diam erat. Duis velit
                            lectus, posuere a blandit sit amet, tempor at lorem. Donec ultricies, lorem sed ultrices
                            interdum.</li>
                          <li>Leo metus luctus sem, vel vulputate diam ipsum sed lorem. Donec tempor arcu nisl, et
                            molestie massa scelerisque ut. Nunc at rutrum leo. Mauris metus mauris, tristique quis
                            sapien eu, rutrum vulputate enim.</li>
                          <li>Mauris tempus erat laoreet turpis lobortis, eu tincidunt erat fermentum.</li>
                          <li>Aliquam non tincidunt urna. Integer tincidunt nec nisl vitae ullamcorper. Proin sed
                            ultrices erat. Praesent varius ultrices massa at faucibus.</li>
                          <li>Aenean dignissim, orci sed faucibus pharetra, dui mi dignissim tortor, sit amet
                            condimentum mi ligula sit amet augue.</li>
                          <li>Pellentesque vitae eros eget enim mollis placerat.</li>
                        </ol>
                      </section>
                      <section class="section mb-5">
                        <h4>Changes To This Agreement</h4>
                        <p>We reserve the right, at our sole discretion, to modify or replace these Terms and Conditions
                          by posting the updated terms on the Site. Your continued use of the Site after any such
                          changes constitutes your acceptance of the new Terms and Conditions.</p>
                      </section>
                      <section class="section intellectual-property">
                        <h4>Contact Us</h4>
                        <p>If you have any questions about this Agreement, please contact us filling this <a
                            href="https://demo2.madrasthemes.com/electro/shop/"><strong>contact form</strong></a></p>
                      </section>
                    </div>
                  </div>
                  <p class="form-row validate-required">
                    <label class="woocommerce-form__label woocommerce-form__label-for-checkbox checkbox">
                      <input type="checkbox"
                        class="woocommerce-form__input woocommerce-form__input-checkbox input-checkbox mr-1"
                        name="terms" id="terms">
                      <span class="woocommerce-terms-and-conditions-checkbox-text">I have read and agree to the website
                        <a href="http://s603556811.onlinehome.fr/terms-conditions/"
                          class="woocommerce-terms-and-conditions-link" target="_blank">terms and
                          conditions</a></span>&nbsp;<span class="required">*</span>
                    </label>
                    <input type="hidden" name="terms-field" value="1">
                  </p>

                </div>


                <button type="submit" class="button alt btn btn-primary btn-block"
                  name="woocommerce_checkout_place_order" id="place_order" value="Place order"
                  data-value="Place order">Place order</button>

                <input type="hidden" id="woocommerce-process-checkout-nonce" name="woocommerce-process-checkout-nonce"
                  value="592c78805a"><input type="hidden" name="_wp_http_referer" value="/?wc-ajax=update_order_review">
              </div>
            </div>

          </div>

        </div>
      </aside>
    </div>
  </form>

  <div class="row mt-2">
    <div class="col-lg-8">
      <div class="cz-sidebar-static rounded-lg box-shadow-lg mw-100">
        <div class="woocommerce-form-coupon-toggle">
          <a class="showcoupon font-size-sm font-weight-medium nav-link-style" href="#">Have a coupon?</a>
        </div>
        <form class="checkout_coupon woocommerce-form-coupon mt-2" method="post" style="display:none"
          id="cz-checkout-coupon">
          <div class="form-group">
            <input type="text" name="coupon_code" class="input-text form-control" placeholder="Coupon code"
              id="coupon_code" value="">
          </div>
          <button type="submit" class="button btn btn-outline-primary btn-sm btn-block" name="apply_coupon"
            value="Apply coupon">Apply coupon</button>
        </form>
      </div>
    </div>
  </div>



</div>
