:host {
  display: block;
  margin-bottom: 12px;
}

.title {
  display: block;
  padding: 8px 0;
	font-size: 1.0625rem;
	font-weight: 500;
  color: #111;
}

.checkbox-list {
	display: flex;
	flex-direction: column;
	gap: 4px;
	margin-top: 6px;
	max-height: 310px;
	overflow: auto;

	&::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-track {
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
  }
}