.wishlist {
	&__title {
		font-size: 2rem;
		margin-bottom: 0.75rem;
		font-weight: 500;
		line-height: 1.2;
		color: #373f50;
		margin-top: 0;
	}

	&__table {
		width: 100%;
		margin-bottom: 1rem;
		color: #4b566b;
		border-collapse: collapse;

		@media (max-width: 767.98px) {
			display: block;
			overflow-x: auto;
		}

		th {
			font-weight: 500;
			word-break: normal;
			color: #373f50;
			padding: 0.75rem;
			border-top: 1px solid #e3e9ef;
			vertical-align: bottom;
  		border-bottom: 2px solid #e3e9ef;
		}

		td {
			padding: 0.75rem;
			vertical-align: top;
			border-top: 1px solid #e3e9ef;
		}
	}

	&__empty {
		padding: 30px 0;
		vertical-align: top;
		border-top: 1px solid #e3e9ef;
		text-align: center;
	}

	&__trash-button {
		background-color: transparent;
		color: #f34770;
		font-size: 15px;
		outline: none;
	}

	&__product-remove {

	}

	&__product-thumbnail {
		
	}

	&__product-name {
		
	}

	&__product-price {
		
	}

	&__product-add-to-cart {
		
	}
}

.classic-button {
	padding: 0.325rem 1rem;
}