<div class="wishlist" *ngrxLet="wishlistService.wishlist$ as wishlist">
  <h2 class="wishlist__title">My wishlist</h2>
  <table class="wishlist__table">
    <thead>
      <tr>
        <th class="wishlist__product-remove"></th>
        <th class="wishlist__product-thumbnail"></th>
        <th class="wishlist__product-name">Product name</th>
        <th class="wishlist__product-price">Unit price</th>
        <th class="wishlist__product-add-to-cart"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="wishlist.length == 0">
        <td colspan="5" class="wishlist__empty">
          No products added to the wishlist
        </td>
      </tr>
      <tr *ngFor="let product of wishlist">
        <td class="wishlist__product-remove">
          <div>
            <button
              class="wishlist__trash-button"
              title="Remove this product"
              (click)="wishlistService.removeWishlistItem(product)">
              <i class="ci-trash"></i>
            </button>
          </div>
        </td>
        <td class="wishlist__product-thumbnail">
          <a [routerLink]="['/product/' + product.id]">
            <img
              width="100"
              [src]="product.mainPicture?.url ?? 'assets/img/product-placeholder.png'"
              [alt]="product.name"
              loading="lazy">
          </a>
        </td>
        <td class="wishlist__product-name">
          <a [routerLink]="['/product/' + product.id]">{{ product.name }}</a>
        </td>
        <td class="wishlist__product-price">
          <span *ngIf="product.price > 0">{{ product.price | currency }}</span>
          <span *ngIf="product.price == 0">Free</span>
        </td>
        <td class="wishlist__product-add-to-cart">
          <button class="classic-button" (click)="addToCart(product)">
            <i class="ci-cart font-size-sm mr-1"></i> Add to cart
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
