<h2 class="title">Your sales / earnings</h2>
<div class="dashboard-content-area pt-2 px-0">
  <div class="row mx-n2 pt-2">
    <div class="col-md-4 col-sm-6 px-2 mb-4">
      <div class="summary-card">
        <h3 class="summary-card__title">Earnings (this month)</h3>
        <p class="summary-card__amount">{{ (storeService.monthSalesAmount$ | async) | currency }}</p>
        <p class="summary-card__subtext">Sales {{ firstDay | date: 'shortDate' }} – {{ lastDay | date: 'shortDate' }}</p>
      </div>
    </div>
    <div class="col-md-4 col-sm-6 px-2 mb-4">
      <div class="summary-card">
        <h3 class="summary-card__title">Your balance</h3>
        <p class="summary-card__amount">{{ (storeService.balance$ | async) | currency }}</p>
        <ng-container *ngrxLet="lastWithdrawDate$ as lastWithdrawDate">
          <p class="summary-card__subtext" *ngIf="lastWithdrawDate">Last withdraw on: {{ lastWithdrawDate | date: 'shortDate' }}</p>
          <p class="summary-card__subtext" *ngIf="!lastWithdrawDate">No withdrawal made yet</p>
        </ng-container>
      </div>
    </div>
    <div class="col-md-4 col-sm-12 px-2 mb-4">
      <div class="summary-card">
        <h3 class="summary-card__title">Lifetime earnings</h3>
        <p class="summary-card__amount">{{ (storeService.salesAmount$ | async) | currency }}</p>
        <p class="summary-card__subtext">Based on list price</p>
      </div>
    </div>
  </div>
  <div class="row mx-n2">
    <div class="col-12 px-2">
      <div class="dashboard-widget sells-graph card">
        <div class="card-body">
          <h3 class="font-size-sm pb-3 mb-0 border-bottom">
            Sales <span class="font-weight-normal font-size-xs text-muted">This month</span>
          </h3>
          <ngx-charts-line-chart
            [view]="view"
            [legend]="true"
            [showXAxisLabel]="true"
            [showYAxisLabel]="true"
            [curve]="curve"
            [xAxis]="true"
            [yAxis]="true"
            [timeline]="true"
            [results]="(salesChartsData$ | async)!">
          </ngx-charts-line-chart>
        </div>
      </div>
    </div>
  </div>
</div>
