<ng-container *ngrxLet="product$ as product">
  <ng-container *ngrxLet="galleryItems$ as galleryItems">
    <app-page-title [title]="product.name | titlecase"></app-page-title>
    <div class="product">
      <div class="container">
        <div class="product-summary bg-light box-shadow-lg rounded-lg overflow-hidden mb-3">
          <div class="row">
            <section class="col-lg-8 pt-2 pt-lg-4 pb-4 mb-lg-3">
              <div class="pt-2 px-4 pe-lg-0 ps-xl-5 cz-gallery">
                <div class="swiper-container" *ngIf="galleryItems.length > 1">
                  <swiper
                    class="photoGallery"
                    [style.--swiper-navigation-color]="'#fff'"
                    [style.--swiper-pagination-color]="'#fff'"
                    [style.--swiper-navigation-size]="'38px'"
                    [spaceBetween]="10"
                    [navigation]="true"
                    [pagination]="{	type: 'fraction' }"
                    [zoom]="true"
                    [loop]="true"
                    [thumbs]="{ swiper: thumbsSwiper }"
                    [keyboard]="{ enabled: true	}">
                    <ng-template swiperSlide *ngFor="let item of galleryItems">
                      <div class="swiper-zoom-container">
                        <img [src]="item" class="swiper-lazy" />
                      </div>
                    </ng-template>
                  </swiper>
                  <swiper
                    class="photoThumbsGallery"
                    (swiper)="thumbsSwiper = $event"
                    [spaceBetween]="5"
                    [slidesPerView]="5"
                    [freeMode]="true"
                    [watchSlidesProgress]="true">
                    <ng-template swiperSlide *ngFor="let item of galleryItems">
                      <img [src]="item" />
                    </ng-template>
                  </swiper>
                </div>
                <img *ngIf="galleryItems.length == 0" src="assets/img/product-placeholder-large.png">
                <img *ngIf="galleryItems.length == 1" [src]="product.mainPicture?.url">
              </div>
            </section>
            <aside class="col-lg-4">
              <div class="cz-sidebar-static h-100 ms-auto border-left">
                <div class="summary entry-summary">
                  <div class="position-relative d-flex align-items-center">
                    <div class="price mb-3">
                      <span class="woocommerce-Price-amount amount">
                        <span *ngIf="product.price > 0">{{ product.price | currency }}</span>
                        <span *ngIf="product.price == 0">Free</span>
                      </span>
                    </div>
                  </div>
                  <form class="cart">
                    <div class="form-group d-flex align-items-center py-2">
                      <!-- <div class="quantity">
                        <label class="screen-reader-text">Test quantity</label>
                        <input type="number" class="form-control" step="1" min="1" max="" value="1" title="Qty" size="4" inputmode="numeric">
                      </div> -->
                      <button type="submit" (click)="cartService.addCartItem({ product })" class="classic-button">
                        <i class="ci-cart font-size-lg me-2"></i> Add to cart </button>
                    </div>
                  </form>
                  <div class="yith-wcwl-add-to-wishlist add-to-wishlist-1372  wishlist-fragment on-first-load">
                    <div class="form-group d-flex align-items-center pb-2">
                      <button class="classic-colored-button" (click)="wishlistService.addWishlistItem(product)">
                        <i class="ci-heart"></i> <span class="wishlist-text">Add to wishlist</span>
                      </button>
                    </div>
                  </div>
                  <div class="bg-secondary rounded p-3 mb-2">
                    <a class="media align-items-center" [routerLink]="['/store/' + product.store?.url]">
                      <img class="rounded-circle" width="50"
                        src="https://0.gravatar.com/avatar/6d29517ae3ba7c92749e62bd79530cca?s=96&amp;d=mm&amp;r=g"
                        alt="Test">
                      <div class="media-body ps-2">
                        <span class="font-size-ms text-muted">Created by</span>
                        <h6 class="font-size-sm mb-0">{{ product.store?.name }}</h6>
                      </div>
                    </a>
                  </div>
                  <div class="bg-secondary rounded p-3 mb-2" *ngIf="product.sales! > 0">
                    <i class="ci-download h5 text-muted align-middle mb-0 mt-n1 me-2"></i>
                    <span class="d-inline-block h6 mb-0 me-1">{{ product.sales }}</span><span
                      class="font-size-sm">Sales</span>
                  </div>
                  <ul class="list-unstyled font-size-sm product-meta-items">
                    <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                      <span class="text-dark font-weight-medium">Last update</span>
                      <span class="text-muted">{{ product.updatedAt | date }}</span>
                    </li>
                    <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                      <span class="text-dark font-weight-medium">Released</span>
                      <span class="text-muted">{{ product.createdAt | date }}</span>
                    </li>
                    <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                      <span class="text-dark font-weight-medium">Grades</span>
                      <span class="text-muted">
                        <ng-container *ngFor="let grade of product.grades; let first = first; let last = last;">
                          <a rel="tag">{{ grade.name | titlecase }}</a>
                          <ng-container *ngIf="!last">, </ng-container>
                        </ng-container>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                      <span class="text-dark font-weight-medium">Subjects</span>
                      <span class="text-muted">
                        <ng-container *ngFor="let subject of product.subjects; let first = first; let last = last;">
                          <a rel="tag">{{ subject.name | titlecase }}</a>
                          <ng-container *ngIf="!last">, </ng-container>
                        </ng-container>
                      </span>
                    </li>
                    <li class="d-flex justify-content-between mb-3 pb-3 border-bottom">
                      <span class="text-dark font-weight-medium">Resource types</span>
                      <span class="text-muted">
                        <ng-container
                          *ngFor="let resourceType of product.resourceTypes; let first = first; let last = last;">
                          <a rel="tag">{{ resourceType.name | titlecase }}</a>
                          <ng-container *ngIf="!last">, </ng-container>
                        </ng-container>
                      </span>
                    </li>
                  </ul>
                  <style>
                    .dokan-report-abuse-button {
                      display: inline-block;
                      color: inherit;
                      margin-top: 5px;
                      font-size: 0.8em;
                    }

                    .dokan-report-abuse-button.working {
                      opacity: 0.8;
                    }

                  </style>

                  <!--<a href="#report-abuse" class="dokan-report-abuse-button">
                    <i class="fa fa-flag"></i> Report Abuse</a>-->
                </div>

              </div>
            </aside>
          </div>
        </div>
      </div>
      <div class="container mb-5">
        <mat-tab-group animationDuration="0ms" [disableRipple]="true">
          <mat-tab label="Description">
            <div [innerHTML]="product.description"></div>
          </mat-tab>
          <mat-tab [label]="'Reviews (' + ((product.reviews?.length! | shortNumber) ?? 0) + ')'">
            <div class="cartzilla-tab-content">
              <div class="tab-content pt-2">
                <div class="woocommerce-Tabs-panel woocommerce-Tabs-panel--reviews panel entry-content wc-tab m-0">
                  <div class="single-product-review ">
                    <div class="woocommerce-Reviews container pt-md-2">
                      <div class="row">
                        <div class="col-md-7">
                          <div *ngIf="product.reviews?.length == 0">
                            <p class="woocommerce-noreviews">There are no reviews yet.</p>
                          </div>
                          <div class="reviews" *ngIf="product.reviews?.length! > 0">
                            <div class="reviews__review" *ngFor="let review of product.reviews">
                              <div class="reviews__review-header">
                                <div class="reviews__reviewer">
                                  <img [alt]="review.user.firstname + ' ' + review.user.lastname"
                                    [src]="review.user.avatar ?? 'https://0.gravatar.com/avatar/0bb5506299e7fc2b7370e90722670a0f?s=50&amp;d=mm&amp;r=g'"
                                    class="reviews__reviewer-avatar" height="50" width="50"
                                    loading="lazy">
                                  <div class="reviews__reviewer-details">
                                    <h6 class="reviews__reviewer-name">
                                      {{ review.user.firstname + ' ' + review.user.lastname | titlecase }}
                                    </h6>
                                    <span class="reviews__reviewer-date">
                                      {{ review.date | date }}
                                    </span>
                                  </div>
                                </div>
                                <bar-rating [rate]="review.rate" [max]="5" [readOnly]="true">
                                  <ng-template ratingActive>
                                    <i class="ci-star-filled"></i>
                                  </ng-template>
                                  <ng-template ratingInactive>
                                    <i class="ci-star"></i>
                                  </ng-template>
                                  <ng-template ratingFraction>
                                    <i class="ci-star-half"></i>
                                  </ng-template>
                                </bar-rating>
                              </div>
                              <div class="reviews__review-body">
                                <p [innerText]="review.text"></p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-5 mt-2 pt-4 mt-md-0 pt-md-0">
                          <ng-container *ngrxLet="authService.loggedInUser$ as loggedInUser">
                            <div class="bg-secondary py-grid-gutter px-grid-gutter rounded-lg">
                              <div class="comment-respond">
                                <h3 class="review-form__title">Write a review</h3>
                                <form class="comment-form" [formGroup]="reviewForm" (submit)="submit()" *ngIf="loggedInUser" errorTailor>
                                  <div class="form-group comment-form-rating">
                                    <label>Your rating <span class="text-danger">*</span></label>
                                    <select class="classic-select" formControlName="rate">
                                      <option selected disabled>Rate…</option>
                                      <option value="5">Perfect</option>
                                      <option value="4">Good</option>
                                      <option value="3">Average</option>
                                      <option value="2">Not that bad</option>
                                      <option value="1">Very poor</option>
                                    </select>
                                  </div>
                                  <div class="form-group comment-form-comment">
                                    <label>Your review <span class="text-danger">*</span></label>
                                    <textarea class="form-control" rows="8" maxlength="65525" formControlName="text"></textarea>
                                  </div>
                                  <div class="form-group form-submit">
                                    <button type="submit" class="classic-button">Submit a Review</button>
                                  </div>
                                </form>
                                <div *ngIf="!loggedInUser">
                                  <p>You must be logged in to post a review, please <a [routerLink]="['/auth/login']">login</a> or <a [routerLink]="['/auth/register']">register</a></p>
                                </div>
                              </div>
                            </div>
                          </ng-container>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <section class="related-products" *ngIf="product.relatedProducts?.length! > 0">
        <div class="container mb-4 pb-lg-3">
          <div class="d-flex flex-wrap justify-content-between align-items-center border-bottom pb-4 mb-4">
            <h2 class="h3 mb-0 pt-2">Related products</h2>
          </div>
          <app-products-grid [products]="product.relatedProducts!"></app-products-grid>
        </div>
      </section>
    </div>
  </ng-container>
</ng-container>