@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins/breakpoints";

.container {
	text-align: center;
	margin-top: 1rem;
	margin-bottom: 1rem;
	padding-top: 3rem;
	padding-bottom: 3rem;
}