@import '/src/assets/scss/vars';

:host {
	width: 100%;
}

.password-toggle {
  position: relative;

  .password-toggle-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;

    i {
      transition: color .2s linear;
    }

    &:hover i {
      color: $primary-color;
    }

    .custom-control-input {
      display: none;

      &:checked ~ i {
        color: $primary-color;
      }
    }
  }
}