:host ::ng-deep router-outlet + * > .title {
  text-align: left;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.75rem;
  margin-bottom: 0.75rem;
  font-weight: 500;
  line-height: 1.2;
  color: #373f50;
  margin-top: 0;
  overflow-wrap: break-word;
  display: inline-block;
}

.dashboard {
  border-radius: 0.4375rem;
  box-shadow: 0 0.3rem 1.525rem -0.375rem rgb(0 0 0 / 10%);
  overflow: hidden;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  width: auto;

  &__container {
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
    box-sizing: border-box;
  
    @media (min-width: 992px) {
      padding-top: 1.5rem;
    }
  }

  &__page {
    padding: 10px 20px;

    @media (min-width: 1280px) {
      padding-right: 3rem;
    }
  
    @media (min-width: 992px) {
      padding-left: 0;
    }
  }
}
