<div class="title">{{ title }}</div>
<form class="prices-form">
  <label class="prices-form__radio-container">
    <input type="radio" name="priceRanges" value="free" class="prices-form__radio-input" [formControl]="selectedPriceRangeControl" />
    <span class="prices-form__radio-label">Free</span>
  </label>
  <label class="prices-form__radio-container">
    <input type="radio" name="priceRanges" value="under-5" class="prices-form__radio-input" [formControl]="selectedPriceRangeControl" />
    <span class="prices-form__radio-label">Under $5</span>
  </label>
  <label class="prices-form__radio-container">
    <input type="radio" name="priceRanges" value="5-10" class="prices-form__radio-input" [formControl]="selectedPriceRangeControl" />
    <span class="prices-form__radio-label">$5 - $10</span>
  </label>
  <label class="prices-form__radio-container">
    <input type="radio" name="priceRanges" value="10-up" class="prices-form__radio-input" [formControl]="selectedPriceRangeControl" />
    <span class="prices-form__radio-label">$10 and up</span>
  </label>
</form>