:host {
	display: block;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e3e9ef;
	font-size: 0.875rem;
}

.title {
  display: block;
  padding: 8px 0;
	font-size: 1.0625rem;
	font-weight: 500;
  color: #111;
}

.prices-form {
  margin-top: 6px;
  
  &__radio-container {
    display: flex;
    align-items: center;
    cursor: pointer;

    &:hover .prices-form__radio-label {
      color: #8d8d8d;
    }
  }

  &__radio-input {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* Not removed via appearance */
    margin: 0;
    font-size: inherit;
    width: 16px;
    height: 16px;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
    display: grid;
    justify-items: center;
    align-items: center;

    &::before {
      content: "";
      width: 8px;
      height: 8px;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em #111;
    }

    &:checked::before {
      transform: scale(0.95);
    }
  }

  &__radio-label {
    color: #000;
		-webkit-transition: all 300ms ease;
		-o-transition: all 300ms ease;
		transition: all 300ms ease;
    padding-left: 12px;
  }
}