<app-page-title title="How it works?"></app-page-title>
<div class="container mb-4">
	<div class="row">
		<div class="col-12">
			<h2>How to become a vendor?</h2>
			<p>Its simple.</p>
			<ol>
				<li>Sign up as a vendor.</li>
				<li>Upload your products.</li>
				<li>Get paid once a month.</li>
			</ol>
			<p>
				Now let’s get into the details of each step.
			</p>
			<p>
				<strong>Step 1:</strong> Sign up as a vendor.<br>To sign up as a vendor click the person icon on the top right corner of the page. Next click “create one now.” Make sure to click on the option that says “I am a vendor.” Then put in all the required information. When signing up as a vendor you will have to choose a shop name. The shop name will appear next to all of your products. Customers will be able to save you as a favorite seller. You will also need to create a stripe account in order to get paid. You will be forwarded to the stripe website to create your account. Stripe will need your social security number and to link you bank account in order to get paid. Under what industry you can click on digital downloads. Next select which bank account you would like the money to go into. Thekitah.com will not have access to your personal information.
			</p>
			<p>
				<strong>Step 2:</strong> Upload your products.<br>Once you are logged in as a seller hover the mouse over the person icon on the top right corner of the page. A dropdown menu will appear; click on “products.” This will bring you to a new page. Underneath the words “Your Products,” you will see a button that says “+add new products.” Click on that button and then fill out all the necessary information.
				Fill out the title of your product. Choose a price you feel is right. Drag and drop or select the appropriate file. A thumbnail will automatically be uploaded. If you would like you can choose your own thumbnails manually. Next pick the appropriate grades, subjects, and product type. You can select multiple of each. These tags are very important and will help when customers are searching for products. Then add a description about your product. Click submit and you are done.
			</p>
			<p>
				<strong>Step 3:</strong> Get paid once a month.<br>Let’s talk about money. 
				Once a month you will automatically receive a payout from stripe for any of your products sold that month.  Stripe is a payment processor. When signing up as a vendor you will need to sign up to stripe and put in all necessary info in order to get paid.
			</p>
			<p>
				Here is the breakdown:
			</p>
			<p>
				1. On a sale of $1-$25 = the payout rate is 65%
			</p>
			<p>
				2. $26-$100 = 70%
			</p>
			<p>
				3. $101-$200 = 80%
			</p>
			<p>
				4. $201 and up = 85%
			</p>
		</div>
	</div>
</div>