<div class="dokan-dashboard-content">
	<h3 class="entry-title">Store Followers</h3>

	<article class="dashboard-content-area">
			<table class="dokan-table dokan-table-striped product-listing-table dokan-inline-editable-table">
					<thead>
							<tr>
									<th>Name</th>
									<th>Followed At</th>
							</tr>
					</thead>
															<tbody>
									<tr>
											<td colspan="2">
													Your store does not have any follower.                            </td>
									</tr>
							</tbody>
											</table>
	</article>
</div>