.followers {
	padding: 0 0 0 25px;
	overflow: hidden;
	margin-top: 0px;
	width: 83%;
	flex: 5 auto;
	margin-bottom: 1rem;
	padding-bottom: 1.5rem !important;
	padding-left: 15px !important;
	padding-right: 15px !important;

	@media (min-width: 992px) {
		position: relative;
		width: 100%;
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 1.5rem !important;
	}

	@media (max-width: 430px) {
		float: none;
		width: 100%;
		padding: 20px;
	}

	@media (max-width: 767px) {
		padding-left: 0;
		float: none;
		width: 100%;
	}

	&__title {
		font-size: 1.75rem;
		margin-bottom: 0.75rem;
		font-weight: 500;
		line-height: 1.2;
		color: #373f50;
		margin-top: 0;
	}

	&__table {
		width: 100%;
		max-width: 100%;
		margin-bottom: 20px;
		margin: 0 0 1.5em;
		color: #4b566b;
		border-collapse: collapse;

		th {
			border-top: 0;
			color: #373f50;
			vertical-align: bottom;
			border-bottom: 2px solid #EDEDED;
			padding: 8px;
			line-height: 1.42;
			word-break: normal;
			font-weight: 500;
		}

		td {
			padding: 8px;
			line-height: 1.42;
			vertical-align: top;
			border-top: 1px solid #EDEDED;
		}
	}
}

.avatar {
	border-radius: 100px;
	margin-inline-end: 10px;
}