@import "/src/assets/scss/mixins";

.homepage {
  &__hero {
    background-image: url("/assets/img/the-kitah-slider.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 6rem;
    padding-top: 6rem;
    color: #fff;
    background-color: #2f3252;
  }

  &__headline {
    line-height: 1.5;
    color: #fff;
    font-size: 48px;
    font-weight: 300;
    font-family: 'djb-chalk-it-up';
  }

  &__subheadline {
    color: #fff;
    font-weight: 300;
    font-size: 1.25rem;
    margin-bottom: 0.75rem;
    line-height: 1.2;
  }

  &__cta {
    font-family: 'djb-chalk-it-up';
    border: solid 2px;
    font-size: 24px;
    padding: 5px 14px;
    white-space: nowrap;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 0.3125rem;
    transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out, border-color 0.25s ease-in-out, box-shadow 0.2s ease-in-out;

		@include setTextColorAndHover(#fff);
		@include setBorderColorAndHover(#fff);
  }
}

.featured-products {
  position: relative;
  padding-bottom: 3rem;
  padding-top: 1rem;
  margin-bottom: 0.5rem;

  @media (min-width: 992px) {
    padding-top: 0;
  }

  &__headline {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
    color: #373f50;
    margin-top: 0;
  }

  &__subheadline {
    margin-top: 0;
    margin-bottom: 1rem;
    color: #6c757d;
    text-align: center;
  }
}

.monthly-products {
  padding-bottom: 3rem;

  @media (min-width: 992px) {
    margin-bottom: 0.5rem;
  }

  &__headline {
    border-bottom: 1px solid #e3e9ef;
    padding-bottom: 1.5rem;
    padding-top: 0.25rem;
    margin-bottom: 1.5rem;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
  }

  &__headline-text {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: #373f50;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1rem;
    margin-right: 0.5rem;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;

    @media (max-width: 992px) {
      margin-top: 1rem;
    }
  }

  &__footer {
    padding-top: 1rem;
    text-align: center;
  }

  &__footer-button {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.store-features {
  color: #fff;
  background-color: #2f3252;
  background-position: center;
  background-size: cover;
  padding-bottom: 1.5rem;
  padding-top: 3rem;

  @media (min-width: 992px) {
    padding-bottom: 3rem;
  }

  &__headline {
    color: #fff;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    text-align: center;
    padding-bottom: 1.5rem;
    margin-bottom: 1rem;
  }

  &__element {
    margin-bottom: 30px;
  }

  &__media {
    display: flex;
    text-align: left;
    align-items: center;
  }

  &__body {
    flex: 1;
    padding-left: 1rem;
  }

  &__text {
    font-size: 1rem;
    color: #fff;
    margin-bottom: 0.25rem;
  }

  &__subtext {
    opacity: 0.7;
    font-size: 0.8125rem;
    color: #fff;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.recently-viewed-products {
  border-top: 1px solid #e3e9ef;
  padding-bottom: 1.5rem;
  padding-top: 3rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;

  &__headline {
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: #373f50;
    margin-top: 0;
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;

    @media (min-width: 992px) {
      padding-bottom: 1.5rem;
    }
  }
}
