<div class="page__content">

  <div class="wp-block-czgb-hero-block czgb-hero-block">
    <section class="bg-position-center-top bg-no-repeat py-5 bg-accent"
      style="background-image: url('assets/img/the-kitah-slider.jpg');">
      <div class="pb-lg-5 mb-lg-3">
        <div class="container py-lg-5 my-lg-5">
          <div class="row mb-3 mb-sm-4 false">
            <div class="col-lg-7 col-md-9 text-center text-sm-left">
              <h1 class="text-white line-height-base"><span class="font-weight-light djb-chalk-it-up">The smart way to
                  plan</span></h1>
              <h2 class="h5 text-white font-weight-light">Created by teachers, for teachers</h2>
            </div>
          </div>
          <div class="row pb-lg-5 mb-2 mb-sm-3 false">
            <div class="col-lg-6 col-md-8 text-center text-sm-left djb-chalk-it-up"><a class="btn btn-custom-homepage"
                [routerLink]="['/shop']">Shop now</a></div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <ng-container *ngrxLet="featuredProducts$ as featuredProducts">
    <div *ngIf="featuredProducts.length != 0"
      class="czgb-container-block position-relative pt-3 pt-lg-0 pb-5 mb-2 featured-products container">
      <div class="czgb-container-block card px-lg-2 border-0" style="max-width: 100rem;">
        <div class="czgb-container-block card-body px-4 pt-5 pb-4">
          <h2 class="h3 text-center">Discover featured products</h2>

          <p class="text-muted text-center">Every week we hand-pick some of the best items from our collection</p>

          <swiper [slidesPerView]="(documentService.isSmallScreen$ | async) ? 1 : 3"
            [loop]="featuredProducts.length > 3 ? true : false" [spaceBetween]="30" [autoplay]="{
            delay: 4000,
            disableOnInteraction: false,
            pauseOnMouseEnter: true
          }" [grabCursor]="featuredProducts.length > 3 ? true : false" [centeredSlides]="true" [pagination]="{
            dynamicBullets: true,
            clickable: true
          }">
            <ng-container *ngFor="let featuredProduct of featuredProducts">
              <ng-template swiperSlide>
                <app-product-card [product]="featuredProduct" mode="grid-2"></app-product-card>
              </ng-template>
            </ng-container>
          </swiper>
        </div>
      </div>
    </div>

  </ng-container>


  <ng-container *ngrxLet="monthlyProducts$ as monthlyProducts">
    <div *ngIf="monthlyProducts.length != 0"
      class="czgb-products-with-header-block wp-block-czgb-products-with-header czgb-products-with-header pb-5 mb-lg-2 czgb-2dd1010 container czgb-main-block">
      <style>
        .czgb-2dd1010 .czgb-products-with-header__header {
          margin-bottom: 33px !important
        }

      </style>
      <div
        class="czgb-products-with-header__header d-flex flex-wrap justify-content-between align-items-center pt-1 border-bottom pb-4 mb-4">
        <h3 class="czgb-products-with-header__title h3 mb-0 pt-3 mr-2">The most popular products this month</h3>
        <div class="pt-3"><a class="btn mr-1 btn-sm none btn-outline-accent button-icon"
          [routerLink]="['/shop']" data-scroll="true"><span class="czgb-button--inner">All
              categories</span><i class="ci ci-arrow-right ml-2 mr-n1"></i></a></div>
      </div>
      <div>
        <div class="wp-block-czgb-products">
          <div>
            <div class="woocommerce columns-4 ">
              <ul class="list-unstyled products columns-4">
                <li *ngFor="let monthlyProduct of monthlyProducts"
                  class="product type-product post-1372 status-publish first instock product_cat-10th product_cat-chodshei-hashana has-post-thumbnail downloadable virtual purchasable product-type-simple">
                  <app-product-card [product]="monthlyProduct" mode="grid-2"></app-product-card>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="czgb-products-with-header__footer text-center pt-3"><a
          class="btn mr-1 none mb-2 btn-outline-accent button-icon" [routerLink]="['/shop']"
          data-scroll="true"><span class="czgb-button--inner">View more products</span><i
            class="ci ci-arrow-right ml-2 mr-n1"></i></a></div>
    </div>
  </ng-container>



  <section class="icon-block bg-accent bg-size-cover bg-position-center pt-5 pb-4 pb-lg-5">
    <div class="container pt-lg-3">
      <h2 class="h3 text-center  text-light mb-3 pb-4">Why our marketplace?</h2>
      <div class="row pt-lg-2 text-center">
        <div class="col-sm-6 col-lg-3 mb-grid-gutter">
          <div class="d-inline-block">
            <div class="media media-ie-fix align-items-center text-left">
              <div class="czgb-image-upload-placeholder czgb-image-upload-has-image" role="button"
                data-is-placeholder-visible="false"><img class="image"
                  src="https://demo2.madrasthemes.com/cartzilla/marketplace/wp-content/uploads/sites/3/2020/04/quality.png"
                  alt="Image" width="52"></div>
              <div class="media-body pl-3">
                <div class="font-size-base mb-1 text-light">Quality Guarantee</div>
                <p class="font-size-ms opacity-70 mb-0 text-light">Quality checked by our team</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-grid-gutter">
          <div class="d-inline-block">
            <div class="media media-ie-fix align-items-center text-left">
              <div class="czgb-image-upload-placeholder czgb-image-upload-has-image" role="button"
                data-is-placeholder-visible="false"><img class="image"
                  src="https://demo2.madrasthemes.com/cartzilla/marketplace/wp-content/uploads/sites/3/2020/04/support.png"
                  alt="Image" width="52"></div>
              <div class="media-body pl-3">
                <div class="font-size-base mb-1 text-light">Customer Support</div>
                <p class="font-size-ms opacity-70 mb-0 text-light">Friendly 24/7 customer support</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-grid-gutter">
          <div class="d-inline-block">
            <div class="media media-ie-fix align-items-center text-left">
              <div class="czgb-image-upload-placeholder czgb-image-upload-has-image" role="button"
                data-is-placeholder-visible="false"><img class="image"
                  src="https://demo2.madrasthemes.com/cartzilla/marketplace/wp-content/uploads/sites/3/2020/04/updates.png"
                  alt="Image" width="52"></div>
              <div class="media-body pl-3">
                <div class="font-size-base mb-1 text-light">Lifetime Free Updates</div>
                <p class="font-size-ms opacity-70 mb-0 text-light">Never pay for an update</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-3 mb-grid-gutter">
          <div class="d-inline-block">
            <div class="media media-ie-fix align-items-center text-left">
              <div class="czgb-image-upload-placeholder czgb-image-upload-has-image" role="button"
                data-is-placeholder-visible="false"><img class="image"
                  src="https://demo2.madrasthemes.com/cartzilla/marketplace/wp-content/uploads/sites/3/2020/04/secure.png"
                  alt="Image" width="52"></div>
              <div class="media-body pl-3">
                <div class="font-size-base mb-1 text-light">Secure Payments</div>
                <p class="font-size-ms opacity-70 mb-0 text-light">we posess SSL / Secure certificate</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <ng-container *ngrxLet="recentlyViewedProducts$ as recentlyViewedProducts">
    <section *ngIf="recentlyViewedProducts.length != 0"
      class="wp-block-czgb-seller-block czgb-seller-block border-top wp-block-czgb-seller-block py-5">
      <div class="py-lg-2 container">
        <h2 class="h3 mb-3 pb-3 pb-lg-4 text-center">Recently viewed products</h2>
        <div class="ajax-content">
          <div>
            <div class="row">
              <div class="col-12">
                <div class="cz-carousel">
                  <swiper [slidesPerView]="(documentService.isSmallScreen$ | async) ? 1 : 3"
                    [loop]="recentlyViewedProducts.length > 4 ? true : false"
                    [spaceBetween]="30"
                    [slidesPerView]="4"
                    [autoplay]="{
                      delay: 4000,
                      disableOnInteraction: false,
                      pauseOnMouseEnter: true
                    }"
                    [grabCursor]="recentlyViewedProducts.length > 4 ? true : false"
                    [pagination]="{
                      dynamicBullets: true,
                      clickable: true
                    }">
                    <ng-container *ngFor="let recentlyViewedProduct of recentlyViewedProducts">
                      <ng-template swiperSlide>
                        <app-product-card [product]="recentlyViewedProduct" mode="grid-2"></app-product-card>
                      </ng-template>
                    </ng-container>
                  </swiper>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </ng-container>
</div>
