<div class="container pt-5 bt-2 pb-5 mb-2 mb-md-4">
	<div class="row">
		<div class="col-md-6 mx-md-auto">
			<div class="card border-0 box-shadow">
				<div class="card-body p-4">
					<h2 class="h4 mb-3">Register</h2>
					<form [formGroup]="registerForm" (submit)="register()" errorTailor>
						<div class="row mb-2">
							<div class="col-12 col-sm-6">
								<label>Firstname <span class="text-danger">*</span></label>
								<input type="text" class="classic-input" formControlName="firstname">
							</div>
							<div class="col-12 col-sm-6">
								<label>Lastname <span class="text-danger">*</span></label>
								<input type="text" class="classic-input" formControlName="lastname">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12 col-sm-8">
								<label>Email address <span class="text-danger">*</span></label>
								<input type="email" class="classic-input" name="email" formControlName="email">
							</div>
							<div class="col-12 col-sm-4">
								<label>Username <span class="text-danger">*</span></label>
								<input type="text" class="classic-input" name="username" formControlName="username">
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12">
								<label>Password <span class="text-danger">*</span></label>
                <app-password-input formControlName="password"></app-password-input>
							</div>
						</div>
						<div *ngIf="formControls['registrationType'].value == 'vendor'" [@slideInOut]>
							<div class="row mb-2">
								<div class="col-12 col-sm-6">
									<label>Shop Name <span class="text-danger">*</span></label>
									<input type="text" class="classic-input" formControlName="shopName">
								</div>
								<div class="col-12 col-sm-6">
									<label class="pull-left">Shop URL <span class="text-danger">*</span></label>
									<strong class="pull-right"></strong>
									<input type="text" class="classic-input" formControlName="shopUrl">
									<small>https://thekitah.com/store/<span>{{ formControls['shopUrl'].value }}</span></small>
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-sm-6">
									<label>City </label>
									<input type="text" class="classic-input" formControlName="city">
								</div>
								<div class="col-sm-6">
									<label>ZIP Code </label>
									<input type="text" class="classic-input" formControlName="zipcode">
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-sm-6" *ngIf="states.length > 0">
									<label>State </label>
									<select class="classic-select" formControlName="state">
										<option>Select an option…</option>
										<option *ngFor="let state of states" [value]="state.abbreviation">{{ state.name }}</option>
									</select>
								</div>
								<div [class.col-sm-6]="states.length > 0" [class.col-sm-12]="states.length == 0">
									<label>Country <span class="text-danger">*</span></label>
									<select class="classic-select" formControlName="country">
										<option disabled selected>Select a country / region…</option>
										<option *ngFor="let country of countries" [value]="country.countryCode">{{ country.name }}</option>
									</select>
								</div>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12">
								<label>
									<input type="radio" formControlName="registrationType" value="buyer">
									I am a customer
								</label>
								<label class="ms-2">
									<input type="radio" formControlName="registrationType" value="vendor">
									I am a vendor
								</label>
							</div>
						</div>
						<div class="row mb-2">
							<div class="col-12">
                <app-checkbox [colored]="true" formControlName="terms">
									I have read and agree to the <a target="_blank" [routerLink]="['/terms']">Terms &amp; Conditions</a>.
								</app-checkbox>
							</div>
						</div>
            <hr class="my-3">
            <div class="row">
              <div class="col-12">
                Already have an account? <a [routerLink]="['/auth/login']">Log in now</a>.
              </div>
            </div>
						<div class="text-end pt-3">
							<button type="submit" class="classic-button">
								<i class="ci-user me-2 ms-n1"></i>
								Register
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>