@import '/src/assets/scss/vars';

ol {
	list-style: none;
	padding-left: 20px;
	counter-reset: li;

	li {
		counter-increment: li;

		&::before {
			content: counter(li);
			color: $primary-color;
			display: inline-block; width: 1em;
			margin-left: -1em;
		}
	}
}