<div class="bg-dark page-title-overlap pt-4">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav class="woocommerce-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mt-n1">
          <li class="breadcrumb-item d-flex mt-1"><a [routerLink]="['/']">Home</a></li>
          <li class="breadcrumb-item d-flex mt-1">{{ title }}</li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pr-lg-4 text-center text-lg-left">
      <h1 class="h3 mb-0 text-light">{{ title }}</h1>
    </div>
  </div>
</div>
