<div class="bg-dark page-title-overlap pt-4" *ngIf="title && !store">
  <div class="container d-lg-flex justify-content-between py-2 py-lg-3">
    <div class="order-lg-2 mb-3 mb-lg-0 pt-lg-2">
      <nav class="woocommerce-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-light mt-n1">
          <li class="breadcrumb-item d-flex mt-1"><a [routerLink]="['/']">Home</a></li>
          <li class="breadcrumb-item d-flex mt-1">{{ title }}</li>
        </ol>
      </nav>
    </div>
    <div class="order-lg-1 pe-lg-4 text-center text-lg-left">
      <h1 class="h3 mb-0 text-light">{{ title }}</h1>
    </div>
  </div>
</div>
<div class="page-title-overlap bg-accent pt-4" *ngIf="title && store">
  <div class="container d-flex flex-wrap flex-sm-nowrap justify-content-center justify-content-sm-between align-items-center pt-2">
    <div class="media media-ie-fix align-items-center pb-3">
      <div class="img-thumbnail rounded-circle position-relative" style="width: 6.375rem;">
        <img class="rounded-circle w-100"
          [src]="avatar ?? 'https://0.gravatar.com/avatar/f0880c7c42ee557055299a20896c6d9f?s=96&amp;d=mm&amp;r=g'" alt="test">
      </div>
      <div class="media-body ps-3">
        <h3 class="text-light font-size-lg mb-0">
          {{ title | titlecase }} </h3>
        <span class="d-block text-light font-size-ms opacity-60 py-1">
          Member since {{ memberSince | date: 'MMM yyyy' }} </span>
      </div>
    </div>
  </div>
</div>
