@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";

@import './assets/scss/vars';
@import './assets/scss/reset';
@import './assets/scss/icons';
@import './assets/scss/fonts';

body,
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  position: relative;
  background: #fff;
}