@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import '~bootstrap/scss/utilities';
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/helpers";
//@import "~bootstrap/scss/type";
//@import "~bootstrap/scss/reboot";
//@import "~bootstrap/scss/root";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/bootstrap-utilities";

@import "~@ng-select/ng-select/themes/default.theme.css";

@import './assets/scss/vars';
@import './assets/scss/card';
@import './assets/scss/mixins';
@import './assets/scss/reset';
@import './assets/scss/buttons';
@import './assets/scss/input';
@import './assets/scss/select';
@import './assets/scss/icons';
@import './assets/scss/fonts';

@import 'swiper/scss';
@import 'swiper/scss/navigation';
@import 'swiper/scss/pagination';

.invalid-feedback {
  display: block !important;
}

body,
html {
  scroll-behavior: smooth;
	height: 100%;
  //overflow-x: hidden;
}

body {
  position: relative;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4b566b;
  text-align: left;
  background-color: #fff;
}

[hidden] {
	display: none !important;
}

.control-error {
	color: rgb(var(--bs-danger-rgb));
  font-size: .8rem;
}