<div class="dokan-dashboard-content dokan-reviews-content">

        

	<article class="dokan-reviews-area">

			<header class="dokan-dashboard-header">
<h1 class="entry-title">Reviews</h1>
</header><!-- .dokan-dashboard-header -->
<div class="dokan-comments-wrap">

<div id="dokan-comments_menu">
<ul class="subsubsub list-inline">
	<li class="active">
			<a href="http://s603556811.onlinehome.fr/dashboard/reviews/">Approved (<span class="comments-menu-approved">0</span>)</a>
	</li>
	<li>
			<a href="http://s603556811.onlinehome.fr/dashboard/reviews/?comment_status=hold">Pending (<span class="comments-menu-pending">0</span>)</a>
	</li>
	<li>
			<a href="http://s603556811.onlinehome.fr/dashboard/reviews/?comment_status=spam">Spam (<span class="comments-menu-spam">0</span>)</a>
	</li>
	<li>
			<a href="http://s603556811.onlinehome.fr/dashboard/reviews/?comment_status=trash">Trash (<span class="comments-menu-trash">0</span>)</a>
	</li>
</ul>
</div>
<form id="dokan_comments-form" action="" method="post">
<table id="dokan-comments-table" class="dokan-table dokan-table-striped">
					<thead>
			<tr>
					<th class="col-check"><input class="dokan-check-all" type="checkbox"></th>
					<th class="col-author">Author</th>
					<th class="col-content">Comment</th>
					<th class="col-link">Link To</th>
					<th class="col-link">Rating</th>
			</tr>
	</thead>
	
	<tbody>

							<tr><td colspan="5">No Results Found</td></tr>

	</tbody>

</table>
<select name="comment_status">
									<option value="none">-None-</option>
					<option value="hold">Mark Pending</option>
					<option value="spam">Mark Spam</option>
					<option value="trash">Mark Trash</option>
							</select>

<input type="hidden" id="dokan_comment_nonce" name="dokan_comment_nonce" value="2aba73e2e3"><input type="hidden" name="_wp_http_referer" value="/dashboard/reviews/">
<input type="submit" value="Submit" class="dokan-btn  dokan-danger dokan-btn-theme dokan-btn-sm" name="comt_stat_sub">
</form>

</div>
	</article>

	
</div>