<app-page-title title="About Us"></app-page-title>
<div class="container mb-4">
	<div class="row">
		<div class="col-12">
			<h2>Welcome to The Kitah</h2>
			<p>
				The Kitah is an online teacher’s room for Rebbis and Morahs, but instead of bland coffee and stale donuts, here they can share their best work and get interesting ideas from around the world. 
				Every year thousands of teachers spend hours preparing after the school day is over. The Kitah is here to help teachers save time without compromising on quality. The Kitah helps bring top rated educational resources to every Jewish classroom.
				At this very moment there are thousands of exceptional worksheets, tests, curriculums, creative ideas, and much more sitting on the hard drives of dedicated teachers. The Kitah gives these teachers an opportunity to make their worksheets work for them. 
				The Kitah is a platform created by teachers, for teachers. 
			</p>
		</div>
	</div>
</div>