<form [formGroup]="form" (submit)="submit()" errorTailor>
	<div class="row mb-2">
		<div class="col-12">
			<app-upload-avatar [alt]="user.username!" formControlName="avatar"></app-upload-avatar>
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-12 col-sm-6">
			<label>Firstname <span class="text-danger">*</span></label>
			<input type="text" class="classic-input" formControlName="firstname">
		</div>
		<div class="col-12 col-sm-6">
			<label>Lastname <span class="text-danger">*</span></label>
			<input type="text" class="classic-input" formControlName="lastname">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-12 col-sm-8">
			<label>Email address <span class="text-danger">*</span></label>
			<input type="email" class="classic-input" name="email" formControlName="email">
		</div>
		<div class="col-12 col-sm-4">
			<label>Username <span class="text-danger">*</span></label>
			<input type="text" class="classic-input" name="username" formControlName="username">
		</div>
	</div>
	<div class="row mb-2">
		<div class="col-12 col-md-6 mb-md-0 mb-2">
			<label>Current password <span class="text-danger">*</span></label>
			<app-password-input formControlName="currentPassword"></app-password-input>
			<small class="form-text text-muted">Leave blank to leave unchanged</small>
		</div>
		<div class="col-12 col-md-6">
			<label>New password <span class="text-danger">*</span></label>
			<app-password-input formControlName="newPassword"></app-password-input>
			<small class="form-text text-muted">Leave blank to leave unchanged</small>
		</div>
	</div>
	<div class="pt-3">
		<button type="submit" class="classic-button">
			Save changes
		</button>
	</div>
</form>