<div class="sidebar" [class.sidebar--opened]="shopService.filtersSidebarOpened$ | async">
  <div class="sidebar__header">
    <span class="sidebar__header-title">Filters</span>
    <button class="sidebar__close-button" type="button" (click)="shopService.filtersSidebarOpened$.next(false)">
      <span class="sidebar__close-text"> Close </span>
      <span class="sidebar__close-icon">×</span>
    </button>
  </div>
  <div class="sidebar__body">
    <div class="sidebar__filters">
      <div [queryParamGroup]="filtersForm">
        <app-product-filter queryParamName="grades" title="Grades" [items]="(grades$ | async)!"></app-product-filter>
        <app-product-filter queryParamName="subjects" title="Subjects" [items]="(subjects$ | async)!"></app-product-filter>
        <app-product-filter queryParamName="resourceTypes" title="Ressource types" [items]="(resourceTypes$ | async)!"></app-product-filter>
        <app-price-filter queryParamName="priceRange" title="Filter by price"></app-price-filter>
      </div>
    </div>
  </div>
</div>
