<swiper
	*ngIf="slider"
	[slidesPerView]="(documentService.isMobile$ | async) ? 1 : 4"
	[loop]="products.length > 3"
	[spaceBetween]="30"
	[autoplay]="{
		delay: 4000,
		disableOnInteraction: false,
		pauseOnMouseEnter: true
	}"
	[grabCursor]="products.length > 4"
	[centeredSlides]="centered"
	[pagination]="{
		dynamicBullets: true,
		clickable: true
	}">
	<ng-container *ngFor="let product of products">
		<ng-template swiperSlide>
			<app-product-card [product]="product" mode="grid-2"></app-product-card>
		</ng-template>
	</ng-container>
</swiper>
<div class="products" *ngIf="!slider">
	<app-product-card
		class="products__item"
		[style.flex]="'0 0 ' + (100 / ((documentService.isMobile$ | async) ? 1 : maxPerRow)) + '%'"
		[style.maxWidth.%]="(100 / ((documentService.isMobile$ | async) ? 1 : maxPerRow))"
		*ngFor="let product of products"
		[product]="product"
		mode="grid-2">
	</app-product-card>
</div>